.dialog-error {
  padding: 20px 70px;
  border-radius: 5%;
}

.dialog-error h1 {
  color: red;
}

button {
  padding: 4px 8px;
}

button:hover {
  color: white;
  background-color: gray;
  cursor: pointer;
}
