<div class="people">
  <h1 class="title">People</h1>
  <div *ngIf="isRequestOk || hasError else: spinner">
    <a class="new-person" routerLink="/people/new">New Person</a>
    <div *ngIf="people.length > 0 || hasError else: noPeople">
      <ul>
        <li *ngFor="let person of people">
          <div class="person">
            <p class="id"> Id: <span>{{ person.id }}</span></p>
            <h3><span>{{ person.name }}</span></h3>
            <p> Email: <span>{{ person.email }}</span></p>
            <p> Gender: <span>{{ person.gender }}</span></p>
            <p> Age: <span>{{ person.age }}</span></p>
          </div>
          <div class="info">
            <a routerLink="/people/{{ person.id }}" class="detalhes">Details</a>
            <button (click)="removePerson(person.id)">Remove</button>
            <a routerLink="/people/edit/{{person.id}}" class="editar">Edit</a>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #noPeople>
      <div class="no-people">
        <p>Sem pessoas para mostrar!</p>
      </div>
    </ng-template>
  </div>
  <ng-template #spinner>
    <mat-spinner diameter="100" class="spinner"></mat-spinner>
  </ng-template>
</div>
